<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <title th:text="${title}">Title</title>
    </head>
    <body>
        <div th:fragment="header">
            <header style="background-color: #f8f8f8;">
                <h1>Fortune App へようこそ</h1>
            </header>
        </div>

        <div th:fragment="footer">
            <footer style="background-color: #f8f8f8; text-align: center;">
                <p>&copy; 占いアプリ</p>
            </footer>
        </div>
            <!-- Content will be injected here -->
    </body>